.ctaButton {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px 48px;
  background-color: var(--color-coral);
  width: 100%; 
  max-width: 176px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  border-radius: 200px;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 250ms ease-in-out;
}

.ctaButton:hover, 
.ctaButton:focus {
  background-color: #d84343;
}

@media screen and (max-width: 375px) {
  .ctaButton {
  font-size: 14px;
  padding: 10px 32px;
  max-width: 156px;

  }
}