.ctaButton {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 32px;
  background-color: #54be96;
  width: 100%; 
  max-width: 156px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  border-radius: 200px;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 250ms ease-in-out;
}

.ctaButton:hover, 
.ctaButton:focus {
  background-color: #36a379;
}

@media screen and (min-width: 1440px) {
  .ctaButton {
    font-size: 16px;
    padding: 14px 40px;
    max-width: 176px;
  }
}