*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* * {
  outline: 1px solid rgba(255, 0, 0, 0.15);
} */

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

:root {
  --color-white: #f7f7f7;;
  --color-coral: #e44848;
  --color-grey: #101828;

  /* --color-muted: #667085;
  --color-border: #e4e7ec;
  --color-primary: #475467;
  --color-accent: #0a66c2; */

}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-inter), sans-serif;
  margin: 0;
  background-color: #fff;
  color: var(--color-grey);
}

.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  font-weight: 500;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .container {
  max-width: 768px;
  padding: 0 32px;
}
}

@media screen and (min-width: 1440px) {
  .container {
  max-width: 1440px;
  padding: 0 64px;

}
}