.card {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #fbfbfb;
  border-radius: 24px;
  padding: 24px;
  gap: 24px;
}

.avatarWrapper {
  position: relative;
  flex: 0 0 auto;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(84, 190, 150, 0.2);
  border-radius: 30px;
  width: 120px;
  height: 120px;
}

.avatarImage {
  border-radius: 15px;
  object-fit: cover;
}

.onlineBadge {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 14px;
  height: 14px;
  background-color: #38cd3e;
  border: 2px solid #fbfbfb;
  border-radius: 50%;
}

.info {
  flex-grow: 1;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 24px;
}

.metaInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 28px;
}

.meta {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #191a15;
  display: flex;
  align-items: center;
  gap: 16px;
}

.metaRating {
  display: flex;
  align-items: center;
  gap: 8px;
}

.metaSeparator {
  color: rgba(25, 26, 21, 0.2);
}

.priceValue {
  color: #38cd3e;
}

.starIcon {
  color: #ffc531;
}

.nameInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nameSubTitle {
  font-weight: 500;
  font-size: 16px;
  color: #8a8a89;
}

.name {
  font-weight: 500;
  font-size: 24px;
  color: #191a15;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 4px;
  margin-bottom: 24px;
}

.tag {
  padding: 8px 16px;
  background: #f3f3f3;
  border-radius: 24px;
  font-size: 16px;
  color: #191a15;
  line-height: 1.5;
  font-weight: 500;
}

.tag span {
  color: #8a8a89;
}

.aboutText {
  font-weight: 400;
  font-size: 16px;
  color: rgba(25, 26, 21, 0.5);
  line-height: 1.5;
}

.readMore {
  background: none;
  border: none;
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
  padding: 0;
  color: #191a15;
  font-size: 16px;
  margin-top: 14px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.expandedContent {
  margin-top: 48px;
}

.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 40px;
}

.reviewItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.reviewHeader {
  display: flex;
  gap: 12px;
  align-items: center;
}

.reviewAvatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(84, 190, 150, 0.2);
  color: #54be96;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
}

.reviewInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.reviewerName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #191a15;
}

.reviewRating {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
}


.revievRating span {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #191a15;
}

.reviewText {
  color: rgba(25, 26, 21, 0.5);
  line-height: 1.25;
}

.appointmentBtn {
  background: #54be96;
  color: white;
  padding: 14px 40px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 200ms ease;
}

.appointmentBtn:hover {
  background: #36a379;
}

.favoriteButton {
  width: 26px;
  height: 26px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
  color: #191a15;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  transition: color 200ms ease;
}

.favoriteButton:hover {
  color: #54be96;
}

.favoriteActive {
  color: #54be96;
}
