
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 200px);
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.title {
  font-size: 120px;
  font-weight: 700;
  color: #E44848;
  margin: 0;
  line-height: 1;
}

.subtitle {
  font-size: 32px;
  color: #101828;
}

.description {
  font-size: 18px;
  color: #475467;
  max-width: 480px;
  margin-bottom: 24px;
}

.backBtn {
  display: inline-block;
  padding: 16px 40px;
  background-color: #E44848;
  color: #f7f7f7;

  border-radius: 200px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.backBtn:hover {
  background-color: #d84343;
}

.error {
    padding: 15px 0;
    text-align: center;
    font-size: 20px;
    color: #d84343;
}