.catalogLayout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  padding: 20px 0;
}

.sidebar {
  flex: 0 0 100%;
  max-width: 100%;
}

.content {
  flex: 1;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .catalogLayout {
    gap: 42px;
  }
}

@media screen and (min-width: 1440px) {
  .catalogLayout {
    flex-direction: row;
    gap: 64px;
    padding: 48px 0 52px;
  }

  .sidebar {
  flex: 0 0 360px;
}
}
